@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@layer base {
  :root {
    /* Neutral Colors (Grays) */
    --color-neutral-25: #fdfdfd;
    --color-neutral-50: #fafafa;
    --color-neutral-100: #f5f5f5;
    --color-neutral-200: #e9eaeb;
    --color-neutral-300: #d5d7da;
    --color-neutral-400: #a4a7ae;
    --color-neutral-500: #717680;
    --color-neutral-600: #535862;
    --color-neutral-700: #414651;
    --color-neutral-800: #252b37;
    --color-neutral-900: #181d27;
    --color-neutral-950: #0a0d12;

    /* Primary Colors */
    --color-primary-100: #f6f9fe;
    --color-primary-200: #d2e3ff;
    --color-primary-300: #1c65da;

    /* Accent Colors */
    --color-accent-red: #d9206e;
    --color-accent-green: #079455;
    --color-accent-yellow: #fdb022;

    /* Primary background and text colors using the neutral palette */
    --background-color: var(--color-neutral-50);
    --text-color: var(--color-neutral-900);
  }
  * {
    font-family: "Quicksand", sans-serif;
  }

  html {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }

  #__next,
  main {
    overflow-x: hidden;
    width: 100%;
  }

  section {
    overflow-x: hidden;
    max-width: 100vw;
  }

  @media (max-width: 768px) {
    body,
    #root {
      max-width: 100vw;
      overflow-x: hidden;
    }
  }
}

